<% provide(:title, "Top") %>
<div class="center jumbotron">

  <div>
    <h1>勤怠A / 勤怠システムA</h1>
    <p>Attendance A / Attendance System A</p>
  </div>
  
  <div>
    <%= link_to "ユーザー登録", signup_path, class: "btn btn-md btn-primary" %>
      <% if logged_in? %>
        <p></p>
        <%= link_to "ログアウト", logout_path, method: :delete, class: "btn btn-md btn-warning" %>
      <% else %>
        <p></p>
        <%= link_to 'ログイン', login_path, class: "btn btn-md btn-info" %>
      <% end %>   
  </div>
</div>

<div class="center">
  <p>Created by Tomo OSHIMA</p>
  <p>Updated in May 2021</p>
</div>