<% provide(:title, 'List of Employees Currently at Work') %>
<h1>出勤中社員一覧</h1>
<div>
  <table class="table table-bordered table-striped table-condensed table-status">
  <thead>
    <tr>
      <th class="center">社員番号</th>
      <th class="center">名前</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
</div>
